@use '../base/variables' as *;

body {
  background-color: $color_blue;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.heading {
  @include flex-column;
  gap: 5rem;
}
.coin_image {
  @include flex-column;
  gap: 2rem;
}
img {
  width: 100%;
  height: 100%;
}

.container {
  width: 13.5rem;
  height: 13.5rem;
  perspective: 500px;

  &:hover > .coin {
    transform: rotateY(180deg);
  }
}
.coin {
  position: relative;
  height: 100%;
  width: 100%;
  perspective: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;

  &_front,
  &_back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  &_back {
    transform: rotateY(180deg);
  }
}
