/////COLORS
$color_blue: #404a65;
$color_azzurro: #1f6fb0;
$color_bianco: #ecedf0;
$color_black: #35383f;

/////MIXINS
@mixin font($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
